{
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    [
      "env",
      {
        "debug": false,
        "useBuiltIns": true,
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
